@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --50: #f5f5f6;
  --100: #e6e6e7;
  --200: #cfd0d2;
  --300: #adaeb3;
  --400: #84858c;
  --500: #696a71;
  --600: #5a5b60;
  --700: #4c4d52;
  --800: #434347;
  --900: #3b3b3e;
  --950: #1e1e20;
  --1000: #121213;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font: 16px/1.6 instrument Sans, sans-serif;
  overflow: hidden;
}

#main {
  width: 100%;
  height: 100%;
  background-color: var(--950);
    display: flex;
    place-items: center;
    justify-content: center;
}

.blob1 {
  width: 446px;
  height: 446px;
  flex-shrink: 0;
  border-radius: 446px;
  opacity: 0.6;
  background: var(--300);
  filter: blur(250px);
  position: absolute;
  right: -232px;
  top: -232px;
}

.blob2 {
  width: 446px;
  height: 446px;
  flex-shrink: 0;
  border-radius: 446px;
  opacity: 0.6;
  background: var(--300);
  filter: blur(250px);
  position: absolute;
  left: -232px;
  bottom: -232px;
}

.container {
  display: flex;
  width: 386px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 44px;
}

.hello {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.hello-logo {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  background: var(--900);
  height: fit-content;
  width: fit-content;
}

.hello-logo img {
  width: 80px;
  height: 80px;
  aspect-ratio: 1/1;
}

.hello-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.hello-content h1 {
  color: var(--50);
  text-align: center;
  font-family: "Instrument Sans";
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 52px;
}

.hello-content p, p {
  color: var(--300, #adaeb3);
  text-align: center;
  font-family: "Instrument Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

form input {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid var(--900);
  background: var(--1000);
  color: var(--300);
  font-family: "Instrument Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
}
  
  form input:focus {
    color: var(--50);
  }

form button, button {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 16px;
  background: var(--50);
  color: var(--950);
  font-family: "Instrument Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
  cursor: pointer;
  &:hover{
    background-color: var(--200);
  }
}
form button[disabled] {
  opacity: 0.7;
  cursor: not-allowed;
}

span{
    color: var(--50);
font-family: "Instrument Sans";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: -0.32px;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
cursor: pointer;
}